body {
  background: -webkit-linear-gradient(0deg, hsla(167, 68%, 73%, 1) 0%, hsla(178, 59%, 48%, 1) 100%);
}

.app_container {
  padding: 10px;
}

.dog_container {
  border: 1px solid black;
  position: relative;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 10px;
  background: white;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.dog_container h1 {
  font-size: 40px;
}

.dog_container h2 {
  font-size: 20px;
}

.dog_image {
  width: 200px;
  margin: 10px 0px;
}

.dog_container h3 {
  text-align: center;
}

.star_favorite {
  width: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
}

.dog_container:hover { 
  transform: rotate(360deg); 
}